#botao-carrinho {
    width: 60%;
    height: 50px;
    bottom: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px -1px 2px 0px rgba(219, 216, 219, 1);
    -moz-box-shadow: 0px -1px 2px 0px rgba(219, 216, 219, 1);
    box-shadow: 0px -1px 2px 0px rgba(219, 216, 219, 1);
    background-color: #f5f5f5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

#div-quantidade-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#label-carrinho {
    margin: 0;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    #botao-carrinho {
        width: 60%;
    }
}

@media screen and (max-width: 1366px) {
    #botao-carrinho {
        width: 70%;
    }
}

@media screen and (max-width: 1200px) {
    #botao-carrinho {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    #botao-carrinho {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    #botao-carrinho {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    #botao-carrinho {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

}