#div-drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#label-titulo-menu {
    font-weight: bold;
    font-size: x-large;
    margin: 8px;
}

#card-item-menu {
    width: 250px;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}

#card-content-item-menu {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#label-item-menu {
    margin: 4px;
    cursor: pointer;
}

#label-versao {
    font-size: 15px;
    margin: 20px 8px 8px;
}